body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Menu {
  height: 150px;
  background-color: coral;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MenuIcon {
  background: green;
  color: white;
  padding: 20px;
  cursor: pointer;
  border-radius: 5%;
}
.MyDeck {
  height: 100px;
  /* position: absolute; */
  bottom: 0px;
  background-color: violet;
}
